.hard{
                padding:10px;
                background-color:black;
                border-radius:5px 5px 0 5px;
            }
            .feed{
                position: fixed;
                bottom:10px;
                right:10px;
                background-color:blue;
                border:0;
                color:white;
                padding:8px;border-radius:10px;
            }
            #feedback{
                position: absolute;
                top:0;
                width:max-content;
                right:80px;
                width:0;overflow:hidden;
                z-index:1;
            }
            .but{
                background-color:green;
                padding:10px 40px;
                border:0;
                color:white;font-weight:bolder;
                border-radius:10px;
            }
            .cont{
            box-shadow:0 0 20px black;    
            border-radius:10px;
            padding:20px;
            color:purple;
            font-size:20px;
            background-color: rgb(195, 195, 240);
            }
            h1{color:blue;}
            body{
                background-color:white;
                text-align: center;
            }
            .nav{
                background-color: black;
                position:fixed;
                top: 0;left:0;right:0;padding:10px;
                color:red;text-align: center;
            }
            #plank{
                animation:spin 1s linear infinite;
            }
            @keyframes spin {
                100%{transform:rotat(360deg)}
            }
